@charset "utf-8";

/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Anton', sans-serif; */
/* font-family: 'Fjalla One', sans-serif; */
/* font-family: 'Six Caps', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Oswald:wght@500;600;700&family=Six+Caps&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 프리텐다드 웹폰트 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');

/* font-family: 'Lexend', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap');

/* font-family: 'Abhaya Libre', serif; */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

/* font-family: 'PT Sans Narrow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

/* font-family: 'Gentium Book Plus', serif; */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&display=swap');

/* font-family: 'Cinzel', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local('Pretendard Variable'),
    url('./images/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}
